/*!
Theme Name:   Nina-theme
Theme URI:    https://github.com/cartudev
Template: storefront
Author:       Cartudev
Author URI:   https://cartudev.github.io/
Description:  Nina-theme is a child theme
Version:      0.5.0
Tested up to: 6.3
Requires PHP: 5.6.0
License:      GNU General Public License v3 or later
License URI:  https://www.gnu.org/licenses/gpl-3.0.html
Text Domain:  Ninastore
Tags:         e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options, editor-style


 *
 */
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
/*
  THIS DELETE ALL THE DEFAULT TITLES :)
*/
h1:is(.my-3) {
  display: none;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 2.5em;
}
p .text {
  font-weight: 100;
}
div {
  font-size: 1rem;
}
.menu-principal {
  display: flex;
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.menu-principal a,
.menu-footer a {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
  text-transform: uppercase;
  height: 100%;
  align-content: center;
  align-items: center;
}
.menu-principal > li > a {
  border-radius: 10px;
  padding: 0 5px;
}

.menu-principal > li > ul {
  margin-top: 35px;
}

.sub-menu li ul {
  list-style: none;
  width: 100%;
  position: relative;
  display: flex;
  width: 35vw;
  flex-wrap: wrap;
  flex-direction: column;
}

.header-container--leftside ul li:hover ul {
  align-items: center;
  display: flex;
}

.header-container {
  height: 96px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #000e;
  display: flex;
  align-items: center;
  z-index: 11;

  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.header-container--leftside {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 850px;
  justify-content: flex-start;
}

/* .header-container--leftside ul li */
/* ,.header-container--leftside */
/* ,.nav-container */
/* ,.container-menu */
/* ,.menu-principal */
/* { */
/* height: 100%; */
/* } */
.header-container--leftside ul ul {
  display: none;
  /* position: relative; */
  /* top: 50px; */
}
/* .header-container--leftside ul li{
} */
/* .header-container--leftside ul li a { */
/* padding: 0 15px; */
/* transition: color 0.2s linear; */
/* } */

.header-container--leftside ul li:hover > a {
  background-color: #fff;
  color: #000;
  /* height: 30px; */
  /* border-radius: 15px; */
  /* position: relative; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* padding: 0 15px; */
}

.header-container--leftside ul .menu-products:hover > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.header-container--leftside ul .menu-about-us:hover > ul {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: row;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.header-container--leftside ul .menu-products:hover > ul > * {
  width: 40%;
  column-count: 2;
}

.header-container--leftside menu-principal li:hover > ul {
  position: absolute;
  z-index: 12;
  /* cursor: default; */
  display: flex;
  /* grid-template-columns: 1fr 2fr; */
  /* flex-flow: wrap; */
  background-color: #fff;
  color: #000;
  list-style: none;
  left: 0;
  width: 100vw;
  /* padding: 0; */
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.header-container--leftside ul li:hover > ul > * {
  /* grid-row: 1; */
  width: fit-content;
  background: white;
  /* margin-bottom:10px; */
  /* min-width:100%; */
  /* word-break: break-all; */
  /* border: ridge; */
}

.menu-products > ul > li > ul > li {
  width: 100%;
  padding-left: 10px;
}

.header-image--container img {
  /* margin: 30px; */
  border-radius: 50%;
  width: 0;
  height: fit-content;
  flex-grow: 0.8;
}
.menu-about-us .header-image--container {
  display: flex;
  height: 100%;
  position: relative;
  /* padding-right: 20px; */
  gap: 5%;
  /* width: max-content; */
  /* width: auto; */
  /* flex-grow: inherit; */
  /* max-width: 59dvw; */
  justify-content: flex-start;
  right: 0;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.menu-products .header-image--container {
  display: flex;
  height: 100%;
  position: relative;
  /* padding-right: 20px; */
  gap: 5%;
  width: 50vw;
  /* width: max-content; */
  /* width: auto; */
  /* flex-grow: inherit; */
  /* max-width: 59dvw; */
  left: -60%;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

li#menu-item-596 {
  display: flex !important;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  /* height: 200px; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  /* position: relative;*/
}

.header-container--leftside ul li:hover > ul > * {
  width: fit-content;
}

.header-container--leftside ul li > ul::before {
  cursor: default;
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  display: block;
  width: 100%;
  background-color: #0000;
  height: 48px;
}

.header-container--leftside ul li > ul::before:hover {
  display: block;
  content: "";
}

.header-container--leftside ul li:hover > ul li a {
  padding: 16px;
  color: #000;
  height: auto;
  transform: none;
  left: 10px;
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
}

/*testeando*/

.header-container--leftside ul ul:hover:not(.sub-menu) {
  position: absolute;
  z-index: 12;
  /* cursor: default; */
  display: flex;
  /* grid-template-columns: 1fr 2fr; */
  /* flex-flow: wrap; */
  background-color: #fff;
  color: #000;
  list-style: none;
  left: 0;
  width: 100vw;
  /* padding: 0; */
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.menu-principal > .menu-about-us:hover ul li:not(.sub) {
  width: 50%;
}

li > a:after {
  margin-left: 5px;
  content: "▼";
}
li > a:only-child:after {
  content: "";
}

.header-container--rightside {
  display: flex;
  flex: none;
  width: auto;
  min-width: 200px;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 15px;
}
.header-logo-container {
  display: flex;
  width: 100%;
  padding: 0;
  height: fit-content;
  justify-content: space-around;
  max-width: 26%;
  min-width: 160px;
}
.nav-container {
  width: 100%;
}

/*
.woocommerce-product-search{
} */

.woocommerce-product-search .search-field {
  border: 0;
  border-bottom: 1px white solid;
  padding: 0 8px;
  color: #fff;
  font-family: monospace sans-serif;
  transition: ease-in-out 1.5s all;
  background-color: #0000;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 0px;
}

.woocommerce-product-search .search-field:focus {
  outline: none;
  background-color: #fff1;
  border-bottom: 1px solid #ddd;
}

.search-button--container {
  background-color: #0000;
  border: none;
  flex: 1 1 auto;
  margin: 0 10px;
}
.woocommerce-product-search {
  display: flex;
}

.search-button--user {
  background-color: #0000;
  border: none;
  flex: 1 1 auto;
  margin: 0 10px;
}

.nav-secondary-menu ul {
  display: flex;
  background-color: #0000;
  border: none;
  justify-content: center;
  list-style-type: none;
}
.container {
  margin-top: 96px;
  background-color: #fff;
}

.footer-container {
  width: 100%;
  height: auto;
  background-color: #000;
}
.footer-top--container {
  padding: 40px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.footer-column {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: max-content;
  color: #fff;
}
.footer-line {
  width: 80%;
  background-color: #fff;
  height: 1px;
  display: flex;
  margin: 0 auto;
}
.footer-bottom--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom--container p {
  padding: 22px;
  font-size: 0.8em;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.menu-footer {
  min-width: 112%;
  width: 112%;
  margin: 0 20px;

  list-style-type: disclosure-closed;
  list-style-position: outside;
  color: #fff;
}
.menu-footer li {
  float: left;
  width: 50%;
  margin: 20px 0;
}
.social-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 86px;
}
.social-icons {
  width: 150px;
  display: flex;
}

.header-container--leftside .menu-products >ul >li:hover>ul li {
  width: 100% !important;
}

.social-icons a {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 96px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #ffffff80;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #fff;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.column-gallery {
  width: 100%;
  max-width: 735px;
  float: right;
}

.gallery-map-container {
  margin: 10px 10px 5px;
}
.subtitle-gallery {
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 5px 20px;
}

.gallery-home--container {
  width: 95%;
  display: flex !important;
  height: 100%;
  margin: 15px auto;
}

@media (max-width: 782px) {
  .gallery-home--container {
    width: 95%;
    display: block !important;
    margin: 5px auto;
    overflow: hidden;
    border-radius: 10px;
  }
}

.newsletter-form form {
  display: flex !important;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.container form.tnp-subscription {
  margin: 0 auto;
}

.newsletter-form #tnp-1 {
  width: 442px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  padding: 0 20px;
  margin-right: -30px;
}

.wp-block-tnp-minimal p {
  font-size: 0.8em;
  margin-top: -10px;
}

.wp-block-tnp-minimal strong {
  font-size: 1.5em;
  line-height: 2;
}

.p-gallery {
  padding-bottom: 15px;
  padding-top: 18px;
  font-weight: normal;
}

hr.division {
  background-color: #000;
  width: 80%;
  height: 1px;
  margin: 15px;
}

.container .wp-block-tnp-minimal {
  width: auto; /* test 100%*/
  height: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #f5f5f5;
}

.container .wp-block-tnp-minimal a {
  width: fit-content;
  margin: auto;
  background-color: #f5f5f5;
  text-decoration: none;
}

.newsletter-form .tnp-subscription input.tnp-submit {
  width: 125px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 0 15px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.btn-send-message {
  border-radius: 20px;
  border: 1px solid #000;
  padding: 10px 35px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.column-details {
  display: flex;
  justify-content: center;
}

.column-details details {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin: 26px;
  border-radius: 24px;
  border: 2px solid #000;
  -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 7px 3px rgba(0, 0, 0, 0.75);
}

.column-details details summary {
  background-color: #000;
  color: #fff;
  padding: 24px 40px;
  list-style: none;
}

.column-details details summary::after {
  content: "▼";
  text-align: right;
  direction: rtl;
  float: right;
}

.column-details details p {
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 20px;
}
.myaccount-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: stretch;
  width: 100%;
  padding: 130px 0;
}

.myaccount-container hr {
  width: 80%;
  height: 1px;
  background-color: #000;
  margin-top: 18px;
  margin-bottom: 6px;
}

.myaccount-card,
.whatsapp-card {
  height: auto;
  margin: 30px;
  min-height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  min-width: 320px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  padding: 0 32px;
}

.whatsapp-card {
  width: 50%;
  border-radius: 30px;
  min-width: fit-content;
  margin: auto;
}

.whatsapp-card .card-image--container {
  margin-top: 76px;
  margin-bottom: 34px;
}

.whatsapp-card textarea {
  width: 700px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #949494;
  border-radius: 20px;
  background-color: #fff;
  font-size: 18px;
  max-width: 800px;
  max-height: 300px;
  min-width: 100px;
}
.whatsapp-card label {
  font-size: 16;
  font-weight: normal;
  line-height: 3;
}

.whatsapp-card button {
  background-color: #21e75d;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  width: 306px;
  height: 57px;
  border-radius: 30px;
  border: none;
  margin: 45px auto;
}

.whatsapp-card-title {
  text-align: center;
  line-height: 2;
  margin-bottom: 45px;
}

.whatsapp-card-title p {
  text-align: center;
  color: #a2a2a2;
  font-size: 18px;
}

/* Validation whatssapp */
.valid[data-text]:before {
  position: absolute;
  bottom: 100%;
  left: 12px;
  content: "";
  border: 8px solid;
  border-color: transparent transparent #ffd91a transparent;
  top: calc(100% - 21px);
}
.valid[data-text]:after,
.valid[data-text]:before {
  opacity: 1;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 3;
}
.valid[data-text]:after {
  transform: translateX(-50%) translateY(-105%);
  content: attr(data-text);
  position: absolute;
  left: 50%;
  top: inherit;
  font-size: 12px;
  padding: 0 5px;
  box-shadow: 0 0px 6px 2px rgb(0 0 0 / 30%);
  background-color: red;
  color: white;
}

.show#message ~ .valid[data-text]:before,
.none#message ~ .valid:after,
.none#message ~ .valid[data-text]:before {
  opacity: 0;
}
.Fcontrol .message {
  top: -5px;
}

.myaccount-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.myaccount-card--title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 33px;
}
.myaccount-card button {
  width: 250px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  margin: 25px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-size: 0.9em;
  line-height: 2;
}
.inputs p {
  margin-top: 12px;
}
.inputs input {
  width: 360px;
  min-width: 250px;
  height: 34px;
  border: 1px solid #b5b5b5;
  border-radius: 10px;
}
.inputs a:link {
  color: #000;
}

.whatsapp-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: stretch;
  width: 100%;
}

/* 
  SLIDER TEST
*/
/*
.box {
  width:100%;
  overflow:hidden;
  padding:0 10px
}

.card {
  position: relative;
  width: 480px;
  min-height: 400px;
  background: rgb(255, 255, 255);
  box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.01);
  padding: 20px;
  transform: translateX(-8px);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2); 
}
*/

.box {
  width: 95%;
  overflow: hidden;
  transform: translateX(2.5%);
}

.card {
  width: 300px;
  margin: 10px 0 50px;
}
.card a {
  text-decoration: none;
}
.inside {
  position: relative;
  width: 92%;
  padding: 10px;
  min-height: 400px;
  background: rgb(255, 255, 255);
  transform: translateX(1px);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .top .userDetails {
  display: flex;
  align-items: center;
}

.card .top .userDetails .profile_img {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 500;
  line-height: 1em;
}

.card .top .userDetails h3 span {
  font-size: 0.7em;
}

.imgBox {
  position: relative;
  width: 100%;
  height: 426px;
  margin: 10px 0 15px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttons img {
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
  margin-left: 15px;
}

.buttons .left img {
  margin-right: 8px;
}

.likes {
  font-weight: 500;
  margin-top: 5px;
  font-size: 16px;
  color: #4d4d4d;
}

.message {
  font-weight: 500;
  margin-top: 10px;
  font-size: 16px;
  color: #4d4d4d;
}

.message b {
  color: #262626;
}

.settings:after {
  content: "\2807";
  font-size: 25px;
  color: #4d4d4d;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.7;
}

/* 
  SLIDER TEST
*/
